@model IEnumerable<SalesBoard.Models.CartItem>

@{
    ViewData["Title"] = "Shopping Cart";
}

<h1>Shopping Cart</h1>

<table class="table"> 
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Item.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    <form asp-action="Remove" asp-route-id="@item.Item.Id">
                        <input type="number" name="quantity" min="1" max="@item.Quantity" step="1" value="1" />
                        <input type="submit" value="Remove" class="btn btn-primary" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<h1>Total cost: $@ViewBag.totalcost</h1>
<p>
    <a asp-controller="Cart" asp-action="Checkout">Checkout these items!</a>
</p>
 